# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

vendor/*

javascript/node_modules/
javascript/dist/
javascript/npm-debug.log*
javascript/yarn-debug.log*
javascript/yarn-error.log*
javascript/test/e2e/reports
javascript/selenium-debug.log
javascript/package-lock.json

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln